In [117]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [118]:
import pandas as pd
from dotenv import load_dotenv, find_dotenv

In [119]:
load_dotenv(find_dotenv()) # find and load your api key as an environment variable

True

In [254]:
from artist_portal.isss_data import get_imgsynth_studies_artists

df_artists = get_imgsynth_studies_artists()

Number of artists: 3430

In [255]:
df_artists.head()

,last_name,first_name,recognized_disco,complete_disco,recognized_stable,complete_stable,tags,year_of_death,user,sgl_img_folder,cards_folder,batch_id,notes,key,prompt
0,Aalto,Alvar,Yes,x,Yes,x,"architecture, high contrast",1976,sureailabs,x,x,8.0,,Alvar_Aalto,Alvar Aalto
1,Aarons,Slim,Yes,x,Yes,x,"vibrant, photography, scene",2006,sureailabs,x,x,8.0,,Slim_Aarons,Slim Aarons
2,Abbey,Edwin Austin,Yes,x,Yes,x,"scene, realism",1911,EErratica,x,x,7.0,,Edwin_Austin_Abbey,Edwin Austin Abbey
3,Abercrombie,Gertrude,Yes,x,Yes,x,"surrealism, dark,",1977,sureailabs,x,x,10.0,,Gertrude_Abercrombie,Gertrude Abercrombie
4,Abramović,Marina,Yes,x,Yes,x,"scene, photography",,sureailabs,x,x,8.0,,Marina_Abramović,Marina Abramović

In [253]:
from artist_portal.wikipedia_data import WikiGPT

wiki_gpt = WikiGPT(openai_api_key = os.getenv("OPENAI_API_KEY"))

wiki_gpt.artist_to_json("Hilma_af_Klint")

{'Name': 'Hilma af Klint',
 'Gender': 'She',
 'BirthYear': '1862',
 'DeathYear': ' 1944',
 'ArtStyle': 'Abstract',
 'ArtMovement': 'Abstract Art',
 'Location': 'Sweden',
 'Nationality': 'Sweden',
 'Occupation': 'Artist',
 'ArtSchool': 'Royal Academy of Fine Arts',
 'artist_key': 'Hilma_af_Klint',
 'wikipedia_url': 'https://en.wikipedia.org/wiki/Hilma_af_Klint'}

In [256]:
# current davinci cost
len(df_artists) * 0.0600

205.79999999999998

In [237]:
# current curie cost
len(df_artists) * (2050 / 1000 * 0.0060)

42.18899999999999

In [257]:
df_artists['key'].head(10)

0             Alvar_Aalto
1             Slim_Aarons
2      Edwin_Austin_Abbey
3    Gertrude_Abercrombie
4        Marina_Abramović
5              Tomma_Abts
6            Vito_Acconci
7       Andreas_Achenbach
8          Norman_Ackroyd
9             Ansel_Adams
Name: key, dtype: object

In [ ]:
# wait until price goes down 1st Sept

In [ ]:
# from tqdm import tqdm

# results_list = []

# for artist_key in df_artists['key'].head(3):
    
#     wiki_gpt.artist_to_json(artist_key, model = 'curie')
    
#     results_list.append(results_dict)

In [75]:
results_df = pd.DataFrame(records_list)

In [79]:
#results_df.to_csv('../raw_data/wikipedia_dataset.csv')